<footer>
	<div class="logo">
		<img src="/images/pclublogoSmol.avif" alt="pclub logo" class="logo">
		<h3>Programming Club</h3>
	</div>
	{%  include "nav.html" %}
	<button class="followCall">Hey Follow Us</button>
	<div class="socials">
		<a class="instagrm" href="https://www.instagram.com/pclubiitk/">
			<i class="fa-brands fa-instagram"></i>
		</a>
		<a class="twtr" href="https://x.com/pclubiitk">
			<i class="fa-brands fa-x-twitter"></i>
		</a>
		<a class="youtb" href="https://www.youtube.com/@pclubiitk">
			<i class="fa-brands fa-youtube"></i>
		</a>
		<a class="discord" href="https://discord.gg/RGSSrYDTKw">
			<i class="fa-brands fa-discord"></i>
		</a>
		<a class="githb" href="https://github.com/pclubiitk">
			<i class="fa-brands fa-github"></i>
		</a>
		<a class="linkdin" href="https://www.linkedin.com/in/pclubiitk">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</footer>