<header>
  <div class="logo">
    <img src="/images/pclublogoSmol.avif" alt="pclub logo" />
    <h2>pclub</h2>
  </div>
  {% include "nav.html" %}
  <div class="buttons">
    <button class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h3>search</h3>
    </button>
    <button class="hamburgerMenu" onclick="toggleNav()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>

<script>
  function toggleNav() {
    var nav = document.querySelector("header nav");
    var button = document.querySelector("header .hamburgerMenu i");
    var body = document.querySelector("body");

    // console.log(nav.style);

    if (nav.style.display == "grid") {
      nav.style.display = "none";
      button.classList.replace("fa-xmark", "fa-bars");
      body.style.overflowY = "auto";
    } else {
      nav.style.display = "grid";
      button.classList.replace("fa-bars", "fa-xmark");
      body.style.overflowY = "hidden";
    }
  }
</script>
