header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 2.2rem;
      width: 2.2rem;
      margin: 0.5rem;
    }

    h2 {
      text-transform: capitalize;
      font-size: 1.8rem;
      margin: auto 0.5rem;
    }
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: var(--dark);

    display: none;
    place-items: center;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      text-align: center;
      margin: 2rem;
    }

    a {
      color: var(--primary);
      font-size: 2.5rem;
      padding: 0.5rem;
      text-decoration: none;
      position: relative;
      /* text-decoration: underline wavy 0.19rem yellow; */
      /* text-underline-offset: 0.4rem; */
      /* text-decoration-skip-ink: none; */

      svg {
        position: absolute;
        content: "";
        height: 0.8rem;
        bottom: 0;
        right: 0;
        left: 0;
        stroke: var(--secondary);
      }
    }

    #home {
      translate: 0.15rem;
      path {
        stroke-dasharray: calc(1px + 7 * 37px) 10000px;
      }
    }
    #about {
      translate: 0.15rem;
      path {
        stroke-dasharray: calc(7 * 37px) 10000px;
      }
    }
    #blogs {
      translate: 0.4rem;
      path {
        stroke-dasharray: calc(6 * 37px) 10000px;
      }
    }
    #roadmaps {
      translate: 0.35rem;
      path {
        stroke-dasharray: calc(12 * 37.2px) 10000px;
      }
    }
    #projects {
      translate: 0.1rem;
      path {
        stroke-dasharray: calc(9 * 37.1px) 10000px;
      }
    }
  }

  .buttons {
    display: flex;

    i {
      font-size: 1.5rem;
      padding: 1.2rem;
    }

    .search {
      display: flex;

      h3 {
        display: none;
      }
    }

    button {
      border: none;
      background: none;
      padding: 0;
      color: var(--light);
      cursor: pointer;
    }

    .hamburgerMenu {
      position: relative;
      z-index: 3;
    }
  }
}
